<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Llista d'usuaris del sistema</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d'estil (Bootstrap) -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ElderlyPeopleCSS.css"
          th:href="@{/css/ElderlyPeopleCSS.css}"/>
</head>

<body>
<div layout:fragment="content " >


    <div th:replace="fragments/base" ></div>
    <div class="justify-content-center text-center pt-6">
        <h1 class="text-secondary" >PAGINA PRINCIPAL</h1>
    </div>
    <div th:if="${#lists.isEmpty(users)}">
        No hi ha usuaris
    </div >

    <div th:each="user: ${users}" >
      <a class="text-secondary">BIENVENIDO</a>   <a class="text-secondary"    th:text="${user.username}"> </a>
    </div>



    <a href="/" class="btn btn-primary" role="button">Tornar</a>
</div>
</body>
</html>
