<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar solicitudes</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/INDICE.css" th:href="@{/css/INDICE.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navElderly" ></div>
    <div th:replace="fragments/logininfo" ></div>


    <div class="justify-content-center text-center pt-6">
        <h1 class="text-secondary" >TODAS LAS SOLICITUDES </h1>
    </div>
    <div th:if="${#lists.isEmpty(volunteers)}">
        No hay Voluntarios
    </div>
    <div class="formulario">
        <table th:unless="${#lists.isEmpty(volunteers)}"  class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Hobbies</th>




                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-light" th:each="volunteers: ${volunteer}">
                <td th:text="${volunteers.name}"></td>

                <td th:text="${volunteers.hobbies}"></td>



                <td> <a th:href="@{/volunteer/update/{user}/(user=${volunteers.user})}" class="btn btn-warning" role="button">Reservar Voluntario</a></td>

            </tr>
            </tbody>
        </table>

    </div>


</div>



</div>
</body>
</html>